.left-one
  a(href='https://www.instagram.com/harshit07__/' target='__parent')
    img(src='/img/insta.png' alt='insta')
  a(href='#nav') Back To Top
.right-one
  p &copy;
  .log
    img(src='img/logo.png' alt='' height='30rem')
