extends base

block css 
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title 
    link(rel='stylesheet' href='./css/header.css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='./css/signIn_media.css')
    link(rel='stylesheet' href='./css/media_header.css')
    link(rel='stylesheet' href='./css/footer_media.css')
    link(rel='stylesheet' href='./css/footer.css')
    link(rel='stylesheet' href='./css/signin.css')
    link(rel='shortcut icon' href='./img/favicon.png' type='image/x-icon')
    script(src='https://js.stripe.com/v3/')

block content 
    .loader
         img(src='./img/loader1.png' alt='loader' height='80rem')

    img(src='./img/Amazon_logo_plain.png' alt='' height='40rem')
    .error
        .success
            .error-left
                img(src='./img/error.png' alt='error' height='60rem')
            .error-right
                h4 There was a Problem
                p Wrong password

    .content
        form.signupForm(action='#')
            h1 Create Account
            p#name-name Your Name
            input#name(type='text' name='name')
            p#p-email Email
            input#email(type='email' name='email' placeholder='user@gmail.com' required='')
            p#p-email Address
            input#address(type='text' name='address' required='')
            p#p-email PinCode
            input#PinCode(type='number' name='PinCode' required='' maxlength='6' minlength='6')
            p#p-pass Password
            input#password(type='password' name='password' placeholder='At least 8 characters' minlength='8' required='')
            p#p-pass Confirm Password
            input#confirm-password(type='password' name='confirm-password' minlength='8' required='')
            br
            input#submit(type='submit' value='Continue')
            p#anything
                | By continuing, you agree to ApniShop&apos;s 
                b  Conditions of Use
                |  and
                b  Privacy Notice.
    p#account Already have an Account?
    a.signnin(href='/signin') Sign-In

block end 
    script(src="./js/bundle1.js") 