@media screen and (max-width: 765px) and (min-width: 0px) {
  main {
    flex-direction: column;
  }
}
@media screen and (max-width: 510px) and (min-width: 0px) {
  #title {
    font-size: 1rem;
  }
  .left img {
    width: 5rem;
  }
  .title-price {
    flex-direction: column;
  }
  .headings h1 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 361px) and (min-width: 0px) {
  .row {
    flex-direction: column;
    justify-content: flex-start;
  }
  #space {
    display: none;
  }
  .order-Delivered {
    /* width: 1rem; */
  }
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 832px) and (min-width: 0px) {
  .noOrders {
    font-size: 1rem;
  }
}
