@media screen and (max-width: 1076px) and (min-width: 0px) {
  main h1,
  .container {
    margin: 2rem 1rem;
  }
}
@media screen and (max-width: 538px) and (min-width: 0px) {
  .left1 img {
    height: 3em;
  }
  .right1 p {
    font-size: 0.8rem;
  }
  #ord {
    font-size: 1rem;
  }
  main h1 {
    font-size: 1.5rem;
  }
}
