* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.one {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

main {
  margin-bottom: 2rem;
}

.eror1 {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  color: rgb(248, 165, 11);
}
.heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
h1 {
  font-size: 1.5rem;
  margin: 1rem;
  margin-right: 0.5rem;
  /* color: blue; */
}
.heading h2 {
  color: rgb(196, 85, 0);
  font-size: 1.3rem;
}
.elements {
  /* display: flex; */
  margin: 1rem;
}
.left {
  /* min-width: 15rem; */
  display: flex;
  margin: 0 1rem;
  justify-content: center;
  align-items: center;
}
.left img {
  object-fit: cover;
  object-position: center center;
  max-height: 250px;
}
.element {
  display: flex;
  /* min-width: 1200rem; */
}
.main_image {
  cursor: pointer;
  margin-left: 1rem;
}
.info {
  margin-left: 3rem;
  margin-top: 2rem;
}
.title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}
.title:hover {
  color: rgb(196, 85, 0);
  cursor: pointer;
}
.price {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
  cursor: pointer;
}
.ratings {
  cursor: default;
}
.price1 {
  font-size: 1.6rem;
  color: rgb(196, 85, 0);
  margin-left: 0.3rem;
}
hr {
  width: 96%;
  border-top: 1px solid rgba(87, 84, 84, 0.342);
  margin: 1rem 1rem;
}
